@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('./iconfont.ttf?t=1762695029322') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ceshi:before {
  content: "\e8ad";
}

.icon-dianzan:before {
  content: "\e8ae";
}

.icon-dingwei:before {
  content: "\e8af";
}

.icon-dianyingpiao:before {
  content: "\e8b0";
}

.icon-faxian:before {
  content: "\e8b1";
}

.icon-huati:before {
  content: "\e8b2";
}

.icon-lihe:before {
  content: "\e8b3";
}

.icon-mingxinghuodong:before {
  content: "\e8b4";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-xiangji:before {
  content: "\e8bc";
}

.icon-xiexian:before {
  content: "\e6ae";
}

